
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.alignright {
    display:block;
   
    padding-bottom:$baseline*3;
    
}
.alignleft {
    display:block;
    
    padding-bottom:$baseline*3;
   
}
.aligncenter {
    display:block;
    margin:0 auto;
}
@include mq(medium) {
	.alignright {
	    display:block;
	    float:right;
	    padding-bottom:$baseline*3;
	    padding-left:$baseline*3;
	}
	.alignleft {
	    display:block;
	    float:left;
	    padding-bottom:$baseline*3;
	    padding-right:$baseline*3;
	}
	.aligncenter {
	    display:block;
	    margin:0 auto;
	}
}
.text-alignright {
    text-align:right;
}
.text-alignleft {
    text-align:left;
}
.text-aligncenter {
    text-align:center;
}
.desktop {
    display: none;
    @media screen and (min-width: $large) {
        display: block;
    }
}
.desktop-text {
    display: none;
    @media screen and (min-width: $large) {
        display:inline;
    }
}

.mobile {
    @media screen and (min-width: $medium) {
        display:none;
    }
}
.tablet {
    display:none;
    @media screen and (min-width: $medium) {
        display:block;
    }
}
.tablet-text {
    display: none;
    @media screen and (min-width: $medium) {
        display:inline;
    }
}
.bottom-baseline {
    margin-bottom:$baseline*2;
}
.bottom-baseline-mobile {
   @include mq(small) {
     margin-bottom:$baseline*2;
   }
}
.bottom-baseline-medium {
   @include mq(medium) {
     margin-bottom:$baseline*2;
   }
   @include mq(large) {
     margin-bottom:0;
   }
}
.nomargin-bottom {
    margin-bottom:0;
}
.nomargin-top {
    margin-top:0;
}
.nopadding-bottom {
    padding-bottom:0;
}
.nopadding-top {
    padding-top:0;
}
.br-medium-up {
    @include mq(medium) {
        display:block;
    }
}
.br-small-only {
    @include mq(small) {
        display:block;
    }
    @include mq(medium) {
        display:inline;
    }
}
.clearboth {
    clear:both;
    display:block;
}