/*=============== Design Patterns ===============*/

//Wraps
.inner-wrap {
	@include outer-container;
}
.dark-module {
	color:$white;
	h1,h2,h3,h4 {
		color:$white;
	}
	a {
		color:$white;
		
		&:visited {
			color:$white;
		}
		&:hover {
			color:$white;
			text-decoration:none;
			opacity:.5;
		}
	}
	.section-header {
		&:before {
			
			background-image: url(img/section-header-left-bg-light.png);

		}
		&:after {

			background-image: url(img/section-header-right-bg-light.png);

		}
	}
	.img-txt-header {
		color:$white;
	}
	.gray-btn {
		color:$blue;
		&:visited {
			color:$blue;
		}
		&:hover {
			opacity:1;
			color:$blue;
			@include linear-gradient($gray,$gray);
		}
	}
}

//Media Object
.media-object {
	overflow:hidden;
}
.media-object-img {
	width:20%;
	float:left;
	display:block;
	margin-right:5%;
	img {
		width:100%;
	}
}
.media-object-body {
	width:75%;
	float:left;
	
}
.media-object-header {
	margin-top:0;
	margin-bottom:.15em;
}
.media-grid-2 {
	> * {


		margin-bottom:$baseline*2;
	}

	@include mq(medium) {
		> * {

			@include span-columns(4.5 of 9);
			@include omega(2n);
			margin-bottom:$baseline*3;
		}
	}
}
//Buttons
.btn {
	padding:.75em .75em;
}
.gray-btn {
	display:inline-block;
	@include gray-gradient-bg;
	@extend .btn;
	border-radius:3px;
	color:$blue;
	&:hover {
		@include linear-gradient($gray,$gray);
	}
}
.orange-btn {
	display:block;
	@include orange-gradient-bg;
	@extend .btn;
	border-radius:3px;
	color:$white;
	&:hover {
		color:$white;
		@include linear-gradient($yellow,$yellow);
	}
}

//ICO
.ico {
	display:block;
	padding-left:em(70);
	position:relative;
	&:before {
		content:'';
		//background-color:red;
		position:absolute;
		width:em(70);
		top:0;
		left:0;
		bottom:0;
		background-repeat: no-repeat;
		background-position:center center;
	}
}
.ico-download {
	@extend .ico;
	&:before {
		background-image:url(img/ico-download-dark.svg);
	}
}
.ico-resource-lib {
	@extend .ico;
	&:before {
		background-image:url(img/ico-resource-lib-light.svg);
	}
}
.ico-checklist {
	@extend .ico;
	&:before {
		background-image:url(img/ico-checkbox-dark.svg);
	}
}
.ico-rfq {
	@extend .ico;
	&:before {
		background-image:url(img/ico-rfq.svg);
	}
}
.ico-res {
	@extend .ico;
	padding-top: 1.2em !important;
	span{
		font-weight: normal !important; 
	}
	&:before {
		background-image:url(img/ico-resource-library.svg);
	}
}
.ico-survey {
	@extend .ico;	padding-top: 1.2em !important;
	span{
		font-weight: normal !important; 
	}
	&:before {
		background-image:url(img/survey.png);
	}
}


//Other
.post-meta {
	margin-bottom:$baseline*2;
}
.wp-pagenavi a, .wp-pagenavi span {
	border:0 !important;
}
.ico-english, .ico-chinese {
	background-position:left center;
	background-repeat: no-repeat;
	background-size:em(25) em(15);
	padding-left:em(28);
}
.ico-english {
	background-image: url(img/ico-english.jpg);
}
.ico-chinese {
	background-image: url(img/ico-chinese.jpg);
}
.ico-search {
	background-image: url(img/ico-search.svg);
	background-position:left center;
	background-repeat: no-repeat;
	background-size:em(24) em(24);
	width:em(24);
	height:em(24);
	text-indent:-99999em;
	overflow:hidden;
	margin:0 auto;
	display:block;
}
.no-svg {
	.ico-search {
		background-image: url(img/ico-search.png);
	}
}


//Image Text Grid
.img-txt-grid {
	@include row();
	@include mq(small) {
		> * {
			@include span-columns(3 of 6);
			@include omega(2n);
		}
	}
	@include mq(medium) {
		> * {
			@include span-columns(3 of 12);
			@include omega(4n);
		}
	}

}
.img-txt-item {
	text-align:center;
	margin-bottom:$baseline*2;
	position:relative;
	display:block;
	font-weight:normal;
	color:$black;
	@include mq(large) {
		min-height: 35em;
		padding-bottom:$baseline*6;
	}
	&:hover {
		color:$blue;
	}
}
.img-txt-item-inverted {
	@extend .img-txt-item;
	background-color:$blue;
	color:$white;
	.img-txt-header {
		color:$white;
	}
	&:hover {
		color:$white;
	}
	.img-txt-figure {
		background-color:$white;
	}
}
.img-txt-figure {
	display:block;
	background-color:$blue;
	@include transition(opacity 0.1s linear);
}
.img-txt-header {
	font-size:em(18);
	padding:.5em .5em;
	@include mq(large) {
		font-size:em(24);
	}
}
.img-txt-body {
	display:none;
	@include mq(large) {
		display:block;
		padding:0 1.1em 1.1em 1.1em;
		text-align:left;
		margin:0;

	}
}
.img-txt-btn {
	display:none;

	@include mq(large) {
		display:block;
		position:absolute;
		bottom:$baseline*2;
		left:0;
		right:0;
	}
}
.img-txt-item-wrap {
	position:relative;
	text-align:center;
	@include mq(medium) {
		&:hover {
			.img-txt-figure {
				opacity:.5;
			}
		}
	}
	@include mq(large) {
		&:hover {
			.img-text-link-lightbox {
				opacity:1;
			}
		}
	}
}

.img-text-link-lightbox {
	position:absolute;
	z-index:3;
	display:block;
	//background-color:green;
	text-align:center;
	//width:em(160);
	left:0; right:0;
	top:10%;
	opacity:0;
	@include transition(opacity 0.1s linear);
}
.img-text-link, .img-text-lightbox {
	@include blacktrans-bg;
	display:inline-block;
	width:em(75);
	height:em(60);
	text-indent:-99999em;
	background-repeat:no-repeat;
	background-position:center center;
}

.img-text-link {
	background-image:url(img/ico-link.svg);
}
.img-text-lightbox {
	background-image:url(img/ico-popup.svg);
}
.yellow-outline-btn {
	border:2px solid $yellow;
	display:inline-block;
	padding:.25em .5em;
	color:$yellow;
	&:hover {
		color:$blue;
		background-color:$yellow;
	}
}
.img-txt-active {
	.img-txt-header {
		display:none;
	}
	.img-txt-figure {
		background-color:transparent;
		border:2px solid $white;
		cursor: default;

	}
	&:hover {
		.img-txt-figure {
			opacity:1 !important;
			img {
				opacity:1 !important;
			}
		}
	}
}
/*=============== Main Nav ===============*/

//Functionality
.menu, .menu > ul ul {
	clear: both;
	padding:0;
	-webkit-transition: all 0.3s ease-out;  
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
@include mq(medium) {
	transition:0;
}
.js .menu, .js .menu > ul ul {
	overflow: hidden;
	max-height: 0;
	margin:0;
}
.menu.active, .js .menu > ul ul.active {
	max-height: 55em;
}

.menu {
	> ul {
		padding:0;
		margin:0;
	}
	li {
		a {
			display: block;
		}
	}
	li.has-subnav {
		position:relative;
		> a:after {
			content: '+';
			position: absolute;
			top: 1em;
			right: 1em;
			display: block;
		}
		> a.active:after {
			content: "-";
		}
	}
}

@include mq(medium) {
	
	.js .menu, .js .menu > ul ul {
		max-height: none;
		overflow: visible;
	}
	.js .menu > ul ul {
		display: none;
	}
	.menu.active, .js .menu > ul ul.active {
		display: block;
	}
	.js .menu > ul li:hover > ul {
		display: block;
	}

	.menu {
		ul {
			//overflow:hidden;
		}
		li.has-subnav {
			> a {
				//display:inline;
			}
			> a:after {
					/*content: "";
					display:inline-block;
					position:static;
					top:.25em;
					bottom:auto;
					right:8%;
					width:16px;
					height:16px;
					margin-left:.15em;
					background-image:url(img/ico-arrowdown.svg);
					background-size:em(12) em(12);
					background-repeat:no-repeat;
					background-position:center center;*/
					display:none;
				}
			}
			.level-1 {

			}
			> ul {
				> li {
					display:block;
					float:left;
					position: relative;
				}
				ul {
					position: absolute;
					top: 0;
					left: 12em;
					width: 17em;
					li {
						position:relative;
					}
				}
				ul.sub-menu {
					top: 6.4em;
					left: 0;
				}
			}
		}
	}
	@include mq(large) {	

	}

	//Design
	.menu-link {
		width:em(32);
		float:right;
		text-align:center;
		background:url(img/ico-nav.svg) top center no-repeat;
		span {
			font-size:em(12);
			display:block;
			padding-top:1.4em;
			color:$black;

		}
	}
	.no-svg {
		.menu-link {
			span {
				background:url(img/ico-nav.png) center center no-repeat;
			}
		}
	}

	//Main Wrap
	.menu {
		a {
			font-weight:normal;
		}
	}

	//Main li's
	.level-1 {
		> li {
			border-top:1px solid black;
			a {
				padding:1em 2em 1em 1em;
				color:$white;
				font-size:em(16);
			}
			&:first-child {
				border-top:0;
			}
		}
		li.has-subnav {
			.active {
				background:$dark-blue;
			}
		}
	}
	//Secondary Li's
	.sub-menu {
		z-index:1;
		li {
			a {
				font-size:.8em;
				background-color:$dark-blue;
				text-align:left;
			/*background-image: url(img/ico-arrow.svg);
			background-position:95% 50%;
			background-repeat:no-repeat;
			background-size:0.625em 1.125em;*/

		}
		border-top:1px solid grey;
		&:first-child {
		}
	}
}
.no-svg {
	.sub-menu {
		li {
			a {
				//background-image: url(img/ico-arrow.png);
			}
		}
	}
}
@include mq(medium) {
	//Main Wrap
	.menu {
		
	}
	//Main li's
	.level-1 {
		text-align:center;
		> li {
			border-top:0;
			border-radius:5px;
			> a {
				padding:0.5em 0;
				border-radius:5px;
				height:6.5em;
				line-height:6.5em;
				overflow:hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				&:hover {
					background:$dark-blue;
				}
			}
			a {
				padding:0.5em 0;
				border-radius:0;
				&:hover {
					//background:grey;
				}
			}
			&:hover {
				background:$dark-blue;
			}
		}
	}
	.sub-menu {
		li {
			a {
				font-size:1em;
				padding:.8em 1.8em;
				background-color:$dark-blue;
				text-align:left;
				border-radius:0px;
				&:hover {
					background-color:$blue;
				}
			}
			border-top:1px solid $blue;
		}
	}
}

@include mq(large) {
	.menu {

	}
	.level-1 {
		text-align:center;
		> li {
			a {
			}
		}
	}
}
.nav-wrap {
	//border-bottom:1px solid $white;
	@include mq(medium) {
		height:6.5em;
	}
}
.nav-outer-wrap {
	background-color:$blue;
}

.nav-5 {
	display:none;
}
@include mq(small) {
	.nav-10 {
		height:em(56);
		a {
			height:em(56);
		}

	}
}
@include mq(medium) {
	
	.nav-1, .nav-2, .nav-3, .nav-4, .nav-5, .nav-6, .nav-7, .nav-8, .nav-9, .nav-10, {
		@include transition(all 0.1s linear);
	}
	.nav-1 {
		width:9.5%;
	}
	.nav-2 {
		width:8%;
	}
	.nav-3 {
		width:12.5%;
	}
	.nav-4 {
		width:8%;
	}
	.nav-5 {/*logo*/
		width:20%;
		a {
			padding-top:0 !important;
			overflow: visible !important;
			&:hover { 
				background-color:$blue !important;
			}
		}
		&:hover { 
			background-color:$blue !important;
		}
	}
	.nav-6 {
		width:9%;
	}
	.nav-7 {
		width:7%;
	}
	.nav-8 {
		width:7.5%;
	}
	.nav-9 {
		width:12.5%;
	}
	.nav-10 {
		width:5%;
		.ico-search {
			background-position: center 3em;
			&:hover {
				background-image: url(img/ico-search.svg);
				background-position: center 3em;
				background-repeat: no-repeat;
				background-size:em(24) em(24);
			}
		}
	}
}
.nav-sticky {
	.nav-outer-wrap {
		position:fixed;
		left:0;
		right:0;
		top:0;
		border-bottom:1px solid $white;
	}
	@include mq(medium) {
		.nav-1 {
			width:8%;
		}
		.nav-2 {
			width:9.5%;
		}
		.nav-3 {
			width:10.5%;
		}
		.nav-4 {
			width:15%;
		}
		.nav-5 {/*logo*/
			width:11%;
			a {
				padding-top:0 !important;
				&:hover { 
					background-color:$blue !important;
				}
			}
			&:hover { 
				background-color:$blue !important;
			}
		}
		.nav-6 {
			width:10%;
		}
		.nav-7 {
			width:8%;
		}
		.nav-8 {
			width:8.5%;
		}
		.nav-9 {
			width:13.5%;
		}
		.nav-10 {
			width:6%;
			.ico-search {
				background-position: center 3em;
				&:hover {
					background-image: url(img/ico-search.svg);
					background-position: center 3em;
					background-repeat: no-repeat;
					background-size:em(24) em(24);
				}
			}
		}
	}
}

/* Added subpage to sidebar, but want to hide it from main nav */
.site-header .menu-item-1004 .sub-menu{
	display:none !important;
}

/*=============== Social Media ===============*/
.social-wrap {
	overflow:hidden;
	a {
		display:block;
		float:left;
		width:20%;
		text-align:center;
		&:hover {
			opacity:.75;
		}
	}
	img {
		display:inline-block;
		margin:0 auto;
		width:1.1em;
		height:auto;
		vertical-align:middle;
	}
	span {
		background-color:$white;
		border-radius:3px;
		display:inline-block;
		padding:.15em;
		img {
			display:block;
			margin:0 auto;
		}
	}
}


/*=============== Javascript Related ===============*/
.headexpand {
	position:relative;
	padding:0;
	//margin:0;
	cursor: pointer;
	
	@include transition (color .2s ease-in-out);
	&:hover {
		color:$yellow;
	}
	
	&:before {
		font-size:.5em;
		position:relative;
		margin-right:.5em;
		content:"+";
		margin-left:0em;
		display:inline-block;
		border:1px solid $gray;
		width:.6em;
		text-align:center;
		line-height:1em;
		padding:0 .25em;
		color:$blue;
		border-radius:3px;
		vertical-align: middle;
	}
	&.headexpand-active {
		&:before {
			content:"-";
		}
	}

}
.headexpand-wrap {
	> *:last-child {
		overflow:hidden;
		max-height:0;
		//display:none;
		@include transition (all .2s ease-in-out);
	}
	> *:last-child.active {
		max-height:100em;
		
	}
	@include mq(medium) {
		> *:last-child {
			overflow:visible;
			max-height:none;
			//display:none;
			@include transition (all .2s ease-in-out);
		}
		> *:last-child.active {
			max-height:auto;
			
		}
	}
}
.headexpand-content {
	max-height:0;
	padding:0;
	margin:0 !important;
	overflow:hidden;
}

.headexpand-content-active {
	max-height:200em;
	padding:0;
	margin:$baseline*3 0 $baseline*4 0 !important;
}


/*=============== Site Header ===============*/
.site-header {
	background-color:$blue;
	border-bottom:1px solid $white;
	z-index:10;
	position:relative;
	.inner-wrap {
		padding-top:0;
		padding-bottom:0;
	}
	@include mq(medium) {
		font-size:em(12);
		.inner-wrap {
			padding-top:0;
			padding-bottom:0;
		}
	}
	@include mq(large) {
		font-size:em(16);
		.inner-wrap {

		}
	}
}
.mobile-header {
	background-color:$blue;
	height:3.5em;
	.site-logo {
		display:block;
		margin: 0 auto;
		width:6.5em;
	}
	@include mq(medium) {
		display:none
	}
}
.site-logo {
	
}
.utility-nav {
	background-color:$gray;
	border-bottom:$dark-gray;
	a {
		font-weight:normal;
		color:$blue;
	}
	.ico-english {
		float:right;
		display:none;
	}
	.ico-chinese {
		float:right;
		margin-right:1em;
		margin-left:1em;
		display:none;
	}
	.inner-wrap {
		padding-top:$baseline;
		padding-bottom:$baseline;

	}
	.social-wrap {
		float:right;
		width:11em;
	}
	.site-search {
		display:none;
	}
	@include mq(medium) {
		display:block;
		.site-search {
			display:block;
			float:right;
			width:20em;
		}
		.ico-english, .ico-chinese {
			display:inline-block;
		}
	}
}
.site-ph {
	display:inline-block;
	padding-left:1.2em;
	background-image:url(img/ico-ph.svg);
	background-repeat:no-repeat;
	background-position: left center;
	margin-right:2em;
	
}
.site-ph-white {
	@extend .site-ph;
	background-image:url(img/ico-ph-white.svg);
	background-size: 1.3em;
}
.site-email {
	display:none;
	padding-left:2em;
	background-image:url(img/ico-email.svg);
	background-repeat:no-repeat;
	background-position: left center;
	@include mq(medium) {
		display:inline-block;
	}
}

/*=============== Site Content ===============*/
.section-header {
	text-align:center;
	position:relative;
	margin-bottom:.5em;
	font-weight:normal;
	&:before {
		content:'';
		width:20%;
		position:relative;
		margin-right:.4em;
		margin-bottom:.25em;
		display:inline-block;
		//background-color:$blue;
		height:5px;
		background-image: url(img/section-header-left-bg-dark.png);
		background-repeat:no-repeat;
		background-position:right center;
	}
	&:after {
		content:'';
		width:20%;
		position:relative;
		margin-left:.4em;
		margin-bottom:.25em;
		display:inline-block;
		//background-color:$blue;
		height:5px;
		background-image: url(img/section-header-right-bg-dark.png);
		background-repeat:no-repeat;
		background-position:left center;
	}
	@include mq(medium) {
		font-size:em(42);
		margin-bottom:1em;
		&:before { 
			width:30%;
		}
		&:after {
			width:30%;
		}
	}
}
.site-content-primary {
	margin-bottom:$baseline*3;
	> *:first-child {
		margin-top:0;
	}
	@include mq(large) {
		@include span-columns(9 of 12);
		margin-bottom:0;
	}
	.col-3-ul{
		columns: 3;
		-webkit-columns: 3;
		-moz-columns: 3;
		li{
			list-style-position:inside;
		}
	}
}
.site-content-secondary {
	.orange-btn {
		min-height:em(73);
	}
	@include mq(medium) {
		
	}
	@include mq(large) {
		@include span-columns(3 of 12);
		@include omega;

		.orange-btn {
			display:block;
			width:100%;
		}
		> *:first-child {
			margin-top:0;
		}
	}
}
.additional-content {
	display:block;
	overflow:hidden;
	clear:both;
	
	> *:first-child {
		margin-top:0;
	}
}

.nav-aside-header {
	margin-bottom:$baseline;
	font-size:em(21);
	font-weight:bold;
}
.nav-aside {
	.sub-menu{
		margin:0px;
		border:none;
		li{
			border-top:none;
			a{
				//background-image:none;
				margin-left: 1em;
				background-color:transparent;
				font-weight:normal;
				padding:0 0 em(4) em(16);
			}
		}
	}
	ul {
		padding:0;
		margin:0 0 $baseline*3 0;
		border-bottom:1px solid $gray;
	}
	li {
		display:block;
		border-top:1px solid $gray;
		
	}
	.current_page_item {
		a {
			font-weight:bold;
		}
	}
	a {
		display:block;
		padding:$baseline*1.2 $baseline*2;
		//background-color:$light-gray;
		background-image:url(img/section-header-left-bg-dark.png);
		background-repeat:no-repeat;
		background-position: -467px center;
		@include transition (all .15s ease-in-out);
		font-weight:normal;
		color:$blue;
		&:hover {
			//color:$white;
			//background-color:$blue;
			background-position: -463px center;
		}
	}
}



/*=============== Site Intro ===============*/
.site-intro {
	background-image: url(img/site-intro-bg-mobile.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-color:$dark-blue;
	color:$white;
	.inner-wrap {
		padding-top:$baseline*5;
		padding-bottom:$baseline*5;
		position:relative;
	}
	@include mq(medium) {
		background-image: url(img/site-intro-bg.jpg);
		.inner-wrap {
			//padding-top:$baseline*14;
			padding-top: 3em;
			padding-bottom:$baseline*12;
		}
	}
	@include mq(large) {

	}
	@include mq(huge) {
		background-size:100% auto;
	}
}

.site-intro-dest {
	background-image: url(img/site-intro-bg-mobile.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-color:$dark-blue;
	color:$white;
	.inner-wrap {
		padding-top:$baseline*5;
		padding-bottom:$baseline*2;
		position:relative;
	}
	.img-txt-grid {
		display:none;
	}
	@include mq(medium) {
		background-image: url(img/site-intro-bg.jpg);
		.inner-wrap {
			padding-top:$baseline*14;
			padding-bottom:$baseline*5;
		}
		.img-txt-grid {
			display:block;
		}
	}
	@include mq(large) {

	}
	@include mq(huge) {
		background-size:100% auto;
	}
	.site-intro-h1 {
		margin-bottom:0;
	}
}
.site-tagline {
	//position:absolute;
	//top:$baseline;
	//left:60%;
	font-style:italic;
	display:none;
	float: right;

	@include mq(medium) {
		font-size:em(14);
		display:inline;
		margin-top: 1.5em;
	}
	@include mq(large) {
		font-size:em(16);
		
	}
}
.ametek-logo{
	display: none;
	@include mq(medium) {
		float: left;
		display:block;
	}
}
.site-intro-h1 {
	text-align:center;
	font-size:em(24);
	margin-bottom:1.5em;
	color:$white;
	clear: both;
	
	span {
		font-size:.75em;
		display:block;
		font-weight:normal;
	}
	@include mq(medium) {
		font-size:em(34);
		font-weight:normal;
		margin-top: 1.8em;
		margin-bottom:1.5em;
	}
	@include mq(large) {
		font-size:em(46);
	}
}

.site-intro-ctas {
	.resource-library-cta{
		min-height: em(106,18);
		span{
			display: block;
			//margin-top: 15px;
			font-size: 26px;
			line-height: 27px;
			@include mq(medium){
				font-size: 24px;
				line-height: 28px;
			}
			@include mq(large){
				//line-height: 46px;
			}
		}
	}
	a {
		color:$blue;
		font-weight: normal;	
	}
	@include mq(medium) {
		//font-size:em(14);

	}
	@include mq(large) {
		font-size:em(18);
	}
	.cta-wrap{
		@include span-columns(12 of 12);
		@include mq(medium) {
			@include span-columns(4 of 12);
			@include omega (3);
		}
	}
}

.site-intro-cta-1, .site-intro-cta-2, .survey-btn{
	min-height:em(105);
}
.site-intro-cta-1, .site-intro-cta-2, .site-intro-cta-3 {
	max-width:em(310,18);
	line-height:1.2em;
	margin: 0 auto;
	padding-top:em(20,18);
	padding-bottom: em(20,18);
	margin-bottom:$baseline*2;
	@include mq(medium) {
		min-height: em(150);		
	}
	@include mq(large) {
		width:em(310,18);
		min-height: inherit;		
	}

}
.site-intro-cta-1 {

}
.site-intro-cta-2 {
	@include mq(medium) {
		
	}
}
.site-intro-cta-3 {
	//padding-top:1.4em !important;
	padding-top: em(29,18);
	padding-bottom: em(29,18);
	color:$white !important;
	span {
		font-size:em(21,18);
		font-weight:bold;
		small{
			font-size:em(14,21);
		}
	}
	@include mq(medium) {
		//float:left;
	}
}

.resource-library-cta a{
	@include orange-gradient-bg;
	color:$white;
	.resource-cta{
		font-size: 19px;
		line-height: 20px;
		@include mq(large) {
		}
	}
	&:hover{
		background-color: $yellow;
		background-image:none;
	}
}

/*=============== Section Modules ===============*/
.about-module {
	background-color:#060609;
	@include mq(medium) {
		background-image:url(img/bg-world.jpg);
		background-repeat: no-repeat;
		background-position:top center;
		background-color:#060609;
		background-size:auto 100%;
	}
	@include mq(huge) {
		background-size:100% auto;
	}
}
.about-venta {
	margin-bottom:$baseline*5;
	figure {
		margin-bottom:$baseline*3;
	}
	@include mq(medium) {
		
	}
	@include mq(large) {
		margin-bottom:0;
		@include span-columns(5.5 of 12);
		@include omega;
		img {
			margin:0;
		}
		
	}
}
.about-laserage {
	figure {
		margin-bottom:$baseline*3;
	}
	@include mq(medium) {

	}
	@include mq(large) {
		@include span-columns(5.5 of 12);
		@include shift(1);
		img {
			margin:0;
		}
		
	}
}

//Social
.social-module {
	background-color:$blue;
	.inner-wrap {
		padding-top:$baseline*3;
		padding-bottom:$baseline*3;
	}
	.section-header {
		font-size:em(31);
	}
}
.rssincl-content {
	@include row();
	clear:both;
	@include mq(medium) {
		
	}
}
.rssincl-entry {
	margin-bottom:$baseline*4;
	@include mq(medium) {
		margin-bottom:0;
		@include span-columns(4 of 12);
		@include omega(3n);
	}
}
.rssincl-itemtitle {
	@extend h5;
	margin-top:0;
	margin-bottom:$baseline;
	font-weight:bold;
	@include mq(medium) {

	}
}
.rssincl-itemdesc {
	margin-top:.25em;
}
/*=============== Site Footer ===============*/
.site-footer {
	text-align:center;
	p {
		font-size:em(14);
	}
	.social-wrap {
		width:15em;
		margin: 0 auto;
	}
	
}
.site-footer-top {
	background-color:$blue;
	p {
		margin-bottom:$baseline*3;
	}
	.inner-wrap {
		border-top:1px solid #273464;
		padding-top:$baseline*3;
		padding-bottom:$baseline*3;
	}
}
.site-footer-bottom {
	background-color:$gray;
	.inner-wrap {
		padding-top:$baseline;
		padding-bottom:$baseline;
	}
	p {
		margin:0;
	}
	a {
		
	}
}
/*=============== Tables ===============*/
.table {
	display:block;
	width:100%;
	//margin:0 0 1em 0;
	margin-bottom:$baseline*3;
	background:$light-gray;
	//font-size:em(14);
}
.thead {
	display:block;
}
.table-row {
	display:block;
	width:100%;
	//border-bottom:1px solid $gray;
}
.colored-rows {
	.row {
		&:nth-child(2n+1) {
			.cell {

			}
		}

	}
}
.cell {
	display:block;
	//background-color:$greylight;
	border:.2em solid $white;
	padding:.5em .8em; 
	vertical-align:top;
	//color:$blue;
	p {
		//font-size:.95em;
		margin:.5em 0;
	}
	> ul {
		margin:.5em 0;
		> li {
			margin-bottom:0 !important;
			//font-size:.7em;
			ul {
				padding:0 0 0 1.8em;
			}
		}
	}
	input, select {
		width:100%;
	}
}
.col {
	display:table-column;
}
.spec-col-1 {
	width:100%;
	// border-top:1px solid $light-gray;
	background-color:$gray;
}
.spec-col-2 {
	width:100%;
	// border-top:1px solid $light-gray;
}
@include mq(medium) {
	.table {
		display:table;
	}
	.thead {
		display:table-header-group;
	}
	.table-row {
		display:table-row;  
	}
	.cell {
		display:table-cell;
		p {
			font-size:em(16);
		}
	}
	.spec-col-1 {
		width:30%;
	}
	.spec-col-2 {
		width:70%;
	}

}



/*=============== Product Intro ===============*/
.product-intro {
	h2 {
		//color:$beigedark;
		font-size:em(24);
	}
	margin-bottom:$baseline*3;

}
.product-intro-header {
	//color:$beigedark;
}
.product-intro-img {
	text-align:center;
	@include mq(medium) {
		float:left;
		padding-right:1em;
		padding-bottom:1em;
		//@include span-columns(3 of 9);
	}
	@include mq(large) {
		padding:0;
	}
}
.product-intro-img-additional {
	display:inline-block;
	margin-top:.25em;
	img {
		width:5em;
		height:auto;
	}
}
.product-intro-info {
	@include mq(medium) {
		//@include span-columns(6 of 9);
	}
	> * {
		margin-top:0;
	}
	ul, p {
		//font-size:em(14);
	}
	@include mq(medium) {
		clear:both;
	}
	@include mq(large) {
		clear:none !important;
	}
}
.product-intro-additional {
	font-size:.75em;
	ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	li {
		margin:0 0 .75em 0;
		padding:0;
	}
	@include mq(medium) {
		//@include span-columns(2 of 9);
		font-size:.75em;
	}
	> * {
		margin-top:0;
	}
	@include mq(large) {
		float:right !important;
	}

}



/*=============== Search ===============*/
.search-wrap {
	overflow:hidden;
	max-height:0;
	background-color:$dark-blue;
	@include transition (max-height .5s ease-in-out);
	&.active {
		max-height:20em;
		
	}
	.inner-wrap {
		position:relative;
		padding-top:$baseline*3;
		padding-bottom:$baseline*3;
	}
}
.search-exit {
	position:absolute;
	top:$baseline*.25;
	right:$baseline*3;
	
	width:em(17);
	height:em(17);
	display:none;
	@include mq(medium) {
		top:$baseline*.5;
		display:block;
	}
	@include mq(large) {
		right:$baseline*3;
	}
}
//Search
.search-table {
	display:table;
	width:100%;
	padding:0;
}
.search-row {
	display:table-row;
	width:100%;
}
.search-cell1 {
	display:table-cell;
	//padding-left:0.4375em;


}
.search-cell2 {
	display:table-cell;
	width:3.5em;
	border: 1px solid #000;
	background-color:$dark-blue;
	&:hover {
		background-color:$blue;
	}


}
.search-text {
	//font-size:.8em;
	width:100%;
	height:em(42);
	border:1px solid #fff;
	float:left;
	padding-left:.5em;
}
.search-submit {
	width:100% !important;
	height:em(42);
	border:0;
	float:right;
	background:url(img/ico-search.svg) no-repeat center center !important;
}

.no-svg {
	.search-submit {
		background:url(img/ico-search.png) no-repeat center center !important;
	}

}
@include mq(medium) {
	.search-form {
		width:100%;
		
	}
	.search-text {
		//font-size:.8em;
		width:100%;

		border:1px solid #fff;
		float:left;
		padding-left:.5em;
	}
	.search-submit {
		width:100%;

		border:0;
		float:right;
		background:url(img/ico-search.svg) no-repeat center center;
		background-size:em(16) em(16);
	}
}
@include mq(large) {
	.search-form {
		//width:em(350);
	}
	.search-text {
		//font-size:.8em;
		width:100%;

		border:1px solid #fff;
		float:left;
		padding-left:.5em;
	}

}
@include mq(huge) {
	.search-form {
		
	}
}


/*=============== Product Carousel ===============*/
.product-carousel {
	
}
.product-item {
	border:1px solid $gray;
	@include span-columns(12 of 12);
	text-align:center;
	padding:$baseline;
	@include mq(medium) {
		@include span-columns(3 of 12);
	}
}
.product-item-header {

}
.product-item-img {

}
.product-item-cta {

}


/*=============== Picture Grid ===============*/
.picture-grid {
	
}
.picture-grid-item {
	figcaption {
		text-align:center;
		margin-top:$baseline;
	}
}

/*=============== Landing Page  ===============*/
//HubSpot Defaults
.hs-form-field {
	margin-bottom:$baseline*3;
}
.inputs-list {
	list-style: none;
	padding-left:0;
}

.landing-page {
	h1 {
		margin-bottom: .7em;
	}
	p {
		margin: 1.1em 0;
	}
}
.landing-page-header {
	background-color:$blue;
	border-bottom:1px solid $white;
	z-index:3;
	position:relative;
	text-align: center;
	img {
		margin: 0 auto;
		display: block;
		padding-left: 2.5em;
	}
	span {
		color: #fff;
		font-size: 1.5em;
		float: none;
		margin: 0 auto;
		margin-top: .4em;
	}
	.inner-wrap {
		padding-top:0;
		padding-bottom:1em;
	}
	@include mq(medium) {
		.inner-wrap {
			padding-top:0;
			padding-bottom:1em;
		}
		span {
			margin-top: 4em;
			float: right;
			font-size: 1.8em;
		}
		img {
			margin: 0;
			display: inline-block;
			float: left;
			padding-left: 0;
		}
	}
	@include mq(large) {
		.inner-wrap {

		}
	}
}
/************** Sitemap Page *********************/
ul, ol{
	.children{
		margin:0;
		padding: 0 0 em(6) em(24);
	}
}

.cta-aside{
	.hs-cta-wrapper{
		display:block;
		clear:both;
	}
}

/*=============== Emergency Message Module ===============*/
.emergency-message {
	background-color:orange;
	color:$white;
	position: relative;
	//@include transition (all .1s linear);
	.inner-wrap {
		padding-top:$baseline*2;
		padding-bottom:$baseline*2;
	}
	p {
		font-size:em(22);
		margin: .4em 0;
	}
}

.disabled-module {
/*  max-height:0;
  padding:0;
  margin:0;*/
  height:0;
  display:none;
  overflow:hidden;
  @include animation(disappear .25s 1);
  @include animation-fill-mode(forwards);
  @include animation-delay(.05s);
}
