// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;
$max-width: em(1250);
$base-font-family: 'Exo 2', sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$baseline:em(8);
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

// Colors
///////////////////////////////////////////////////////////////////////////////
$white:#fff;
$black:#000;
$blacktrans:rgba(0,0,0,.5);
$gray: #DDD;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #f0f0f0;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$dark-blue:#131f48;
$blue: #192759;
$yellow:#ff9b00;
$orange:#cc6600;
@mixin blacktrans-bg {
  background-color:$black;
  background-color:$blacktrans;
}
@mixin orange-gradient-bg {
	background-color:$yellow;
	@include linear-gradient($yellow,$orange);
}
@mixin gray-gradient-bg {
	background-color:$white;
	@include linear-gradient(#ffffff,#cccccc);
}

// Body Color
$base-body-color: white;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: lighten($base-accent-color,20%);
//$base-link-color: $base-accent-color;
$hover-link-color: $yellow;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

//Buttons
%button {
  font-size:em(18);
 	background-color:$blue;
  border:0;
  color:white;
  font-weight:normal;
  padding:.5em 1em;
  &:hover {
    background-color:$yellow;
  }
}



// Media Queries
///////////////////////////////////////////////////////////////////////////////
$medium:40em;
$large:60em;
$huge:80em;
@mixin mq($mq) {
  @if $mq == small  { @media (max-width: $medium) { @content; } }
  @if $mq == medium  { @media (min-width: $medium) { @content; } }
  @if $mq == large { @media (min-width: $large) { @content; } }
  @if $mq == huge { @media (min-width: $huge) { @content; } }
  @if $mq == retina  { @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { @content; } }
}




// Other
///////////////////////////////////////////////////////////////////////////////
@mixin nowrap {
	white-space:nowrap;
	text-overflow:ellipsis;
}
// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
